%p#notice= notice

= link_to 'Add New Version', edit_document_path(@document)

%p
  %strong Key:
  = @document.key

- @document.versions.each do |version|
  %p
    %span
      %strong Id:
      = version.id
    %span
      %strong File:
      = link_to :download, rails_blob_url(version.file, disposition: "attachment")
    %span
      = version.created_at

%p
  = link_to 'Back', documents_path
