%p#notice= notice

= link_to 'Add New Version', document_versions_new_path(@document)

%p
  %strong Key:
  = @document.key
%p
  %strong Name:
  = @document.name
%p
  %strong Description:
  = @document.description

%hr

- @document.versions.each do |version|
  %p
    %span
      %strong Key:
      = version.key
    %span
      %strong File:
      = link_to :download, rails_blob_url(version.file, disposition: "attachment")
    %span
      = version.created_at

%p
  = link_to 'Back', documents_path
