<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @document.key %>
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
